* {margin: 0; padding: 0; outline: 0;}

/* Layout */

html {height: 100%;}
body {
    font: 15px/1.2 arial, sans-serif;
    height: 100%;
    color: #999;
}
div#wrapper {
    height: 100%;
    /*border: 1px solid red;*/
}
div#sidebar {
    width: 30%;
    height: 100%;
    overflow-y: scroll;
    float: left;
}
div#content {
    width: 69%;
    height: 100%;
    float: right;
    background-repeat: no-repeat;
    background-position: center center;
}

/* general classes */
div.clearing {
    clear: both;
}
